.Table {
  background-color: #363636;
  height: 500px;
  width: 80%;
  border-radius: 50%;
  margin: 100px auto;
  border: 20px solid rgb(134, 134, 134);
  border-style: double;
  box-shadow: 0 100px 50px black;
  position: relative;
}
